/*.navbar > a {
}

li > a {
  font-weight: bold;
  color: white !important;
}

.navbar-toggler {
  color: white !important;
  border: none;
}

.no-border-button {
  border: none;
  background-color: inherit;
  color: white;
}
.no-border-button:hover {
  color: rgba(255, 255, 255, 0.397);
}
.no-border-button:focus {
  box-shadow: none !important;
  border-color: inherit !important;
  outline: none;
}
*/
.navbar-custom {
  display: flex;
  background-color: rgb(255, 255, 255);
  flex-wrap: wrap;
}

.navItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}

.navItem > a {
  color: white !important;
  text-decoration: none;
}

.navbarLogo {
  width: 200px;
  height: 60px;
}

.navEndItem {
  flex: 2;
  justify-content: flex-end;
}

.log-out {
  height: 100%;
  border-left: 1px solid white;
}
